/* Container som täcker hela bakgrunden */
.code-bg-decoration {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
    background-color: #0f0f0f;

}

.code-snippet {
    position: absolute;
    font-family: 'Fira Code', 'Courier New', monospace;
    font-size: 0.85rem;
    color: rgba(96, 165, 250, 0.05);
    text-shadow: 0 0 8px rgb(96, 214, 250);
    white-space: pre;
    opacity: 1;


}

/* Code blocks BG */

.code-java {
    top: -5%;
    left: -7%;
}

.code-java2 {
    top: 5%;
    left: -2.5%;
}

.code-js {
    bottom: 5.5%;
    right: 3%;
}

.code-css {
    top: 45%;
    right: -6%;

}

.code-sql {
    bottom: 5%;
    left: 5%;
}

.code-docker {
    top: 58%;
    right: 2%;
    opacity: 0.7;
}

.code-ts {
    top: 15%;
    right: 3%;
}

.code-git {
    bottom: -7%;
    left: 9%;
    opacity: 0.9;
}

.foreground-overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: none;
}

.code-foreground {
    position: absolute;
    font-family: 'Fira Code', monospace;
    color: rgba(96, 165, 250, 0.12);
    text-shadow: 0 0 8px rgb(96, 214, 250);
    white-space: pre;
    user-select: none;
    filter: blur(2px);
}

/* Positionering av kodblock i förgrunden */


.fg-api {
    bottom: 5%;
    right: -13%;
    transform: scale(2.25);
    filter: blur(4px);
}

.fg-docker-cli {
    top: -1%;
    left: 12%;
    transform: scale(2.5);
    filter: blur(2px);
}

.fg-streams{
    top: 14%;
    right: 2%;
    transform: scale(1.3);
    filter: blur(0.5px);
}

.fg-test {
    bottom: 14%;
    left: 6%;
    transform: scale(1.6);
}
